extends layout

block content
  div.wrapper
    div.title-wrapper
      a.title.sign-up(href='/sign-up') Sign Up
      a.title(href='/log-in') Log In
    form.form(action='/log-in' method='post')
      input.input(name='username' type='text' required='true' maxlength=30 placeholder='Name')
      input.input(name='password' type='password' required='true' placeholder='Password')
      button.button(type='submit') Log In