*:focus {
	border: none;
	outline: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	border: none;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

.main {
	display: grid;
	grid-template-columns: 16vw 84vw;
}

.sidebar {
	background-color: rgb(55,90,174);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	height: 100vh;
	position: fixed;
	width: 16vw;
}

.sidebar-title {
	margin: 40px 0;
	color: white;
	text-align: center;
	font-size: 1.7rem;
	font-weight: bold;
}

.link {
	color: white;
	background-color: rgb(55,90,174);
	font-size: 1.45rem;
	padding: 0 10px;
}

.link:hover {
	cursor: pointer;
	border-left: 2px solid white;
}

.background {
  	background-color: #e2e2e2;
  	height: 100vh;
	grid-column: 2;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title-wrapper {
	margin-top: 20vh;
	display: grid;
	grid-template-columns: 50% 50%;
	min-width: 300px;
	width: 20vw;
	border-radius: 4px 4px 0 0;
	border-bottom: 2px solid #030e12;
}

.title {
	text-align: center;
	font-size: 1.7rem;
	font-weight: bold;
	padding: 20px;
	color: #030e12;
}


.form {
	color: white;
	padding: 20px;
	min-width: 300px;
	width: 20vw;
	display: flex;
	flex-direction: column;
	gap: 12px;
	border-radius: 0 0 4px 4px;
}

.input {
	background-color: rgb(55,90,174);
	color: white;
	border: none;
	border-radius: 2px;
	padding: 14px;
	font-size: 1rem;
	outline: none;
}

.input::placeholder {
	color: rgb(116, 150, 218);
}

.new-message,
.button {
	border: 2px solid #030e12;
	border-radius: 4px;
	padding: 10px;
	font-size: 1.25rem;
	font-weight: bold;
	background-color: #e2e2e2;
	color: #030e12;
	text-align: center;
	cursor: pointer;
}

.message {
	font-size: 1rem;
	color: #030e12;
}

.new-message {
	color: #030e12;
	display: block;
	width: 200px;
	margin: 30px;
}

.new-message-input {
	border-radius: 4px;
	font-size: 1.125rem;
	background-color: rgb(238, 238, 238);
	border: 2px solid #030e12;
	padding: 12px;
	width: 60vw;
	height: 400px;
}

.invisible {
	display: none;
	visibility: hidden;
}

.warning {
	margin: 30px;
	font-size: 2rem;
}

.card {
	margin: 32px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #e9e9e9;
	border: 1px solid rgb(192, 192, 192);
	padding: 12px;
}

.name-date {
	font-weight: bold;
	font-size: 1rem;
}

.delete {
	color: red;
	cursor: pointer;
}